@using Villa_Web.Models.DTO;
@model IEnumerable<VillaNumberDTO>
<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Villa Number List</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="VillaNumber" asp-action="CreateVillaNumber" class="btn btn-outline-primary"><i class="bi bi-plus-square"></i> Create New Villa Number</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Villa Name
                </th>
                <th>
                    Villa Number
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var items in Model)
            {
                <tr>
                    <td>@items.Villa.Name</td>
                    <td>@items.VillaNo</td>
                    <td>
                        <a asp-controller="VillaNumber" asp-route-Id="@items.VillaNo" asp-action="UpdateVillaNumber" class="btn btn-success"><i class="bi bi-pencil-square"></i></a>
                        <a asp-controller="VillaNumber" asp-route-Id="@items.VillaNo" asp-action="DeleteVillaNumber" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>